*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::selection{
  background: skyblue;
  color: whitesmoke;
}
body{
  font-family: 'Times New Roman', Times, serif;
  background: whitesmoke;
}
.Wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input{
  width: 500px;
  height: 50px;
  background: white;
  border: none;
  padding: 0 0 0 15px;
  margin: 5px 0 0 0;
  border-bottom: 2px solid transparent;
}
input:focus{
  outline: none;
  border-bottom: 2px solid skyblue;
}

select{
  width: 500px;
  height: 50px;
  background: white;
  border: none;
  padding: 0 0 0 15px;
  margin: 5px 0 0 0;
}
select:focus{
  outline: skyblue;
}

button{
  width:300px;
  height: 30px;
  margin: 10px 0 0 0;
  background: white;
  border: none;
  box-shadow: 0 0 10px #d8d8d8;
  cursor: pointer;
}

.listItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: rgb(255, 255, 255);
  width: 500px;
  height: 47px;
  margin: 5px;
}
.listItem h5{
  padding-left: 12px;
  font-weight: 100;
}

.expenseIndicator{
   display: block;
   border-right: 4px solid red;
   height: 47px;
   width: 100px;
}
.incomeIndicator{
   display: block;
   border-right: 4px solid green;
   height: 47px;
   width: 100px;
}